{% extends 'base.html.twig' %}

{% block title %}Edit Formacion{% endblock %}

{% block body %}
    <h1>Edit Formacion</h1>

    {{ include('formacion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_formacion_index') }}">back to list</a>

    {{ include('formacion/_delete_form.html.twig') }}
{% endblock %}
