{% extends 'base.html.twig' %}

{% block title %}New Herramientas{% endblock %}

{% block body %}
    <h1>Create new Herramientas</h1>

    {{ include('herramientas/_form.html.twig') }}

    <a href="{{ path('app_herramientas_index') }}">back to list</a>
{% endblock %}
